-- CreateTable
CREATE TABLE "system" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "system_name" TEXT NOT NULL,
    "api_key" TEXT NOT NULL,
    "created_at" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "data_sensor_raw" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "system_name" TEXT NOT NULL,
    "waktu_pengukuran" DATETIME NOT NULL,
    "frek_hpp" REAL,
    "frek_intake" REAL,
    "deep_run" INTEGER,
    "in_mmf_pt1" REAL,
    "in_mmf_pt2" REAL,
    "out_mmf_pg1" REAL,
    "out_mmf_pg2" REAL,
    "in_ctf_pt" REAL,
    "in_hpp_pt" REAL,
    "out_hpp_pt" REAL,
    "in_ro_pt" REAL,
    "in_ro_pg" REAL,
    "out_ro_pt" REAL,
    "out_ro_pg" REAL,
    "out_tc_pt" REAL,
    "out_tc_pg" REAL,
    "q_produk" REAL,
    "q_feed" REAL,
    "flow_reject" REAL,
    "tds_raw" REAL,
    "tds_produk" REAL,
    "ph_produk" REAL,
    "wm_saat_ini" REAL,
    "wa_sebelum" REAL,
    "wm_selisih" REAL,
    "kwh_harian" REAL,
    "kwh" REAL,
    "sec" REAL,
    "produksi_harian" REAL,
    "wm_sumur" REAL,
    "sec_" REAL,
    "recovery_rate" REAL,
    "salt_rejection" REAL,
    "delta_p_ro" REAL,
    "created_at" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" DATETIME NOT NULL,
    CONSTRAINT "data_sensor_raw_system_name_fkey" FOREIGN KEY ("system_name") REFERENCES "system" ("system_name") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "daily_report_raw" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "system_name" TEXT NOT NULL,
    "hari_pengukuran" DATETIME NOT NULL,
    "kwh_meter_kumulatif" BIGINT,
    "kwh_harian" INTEGER,
    "produksi_harian" INTEGER,
    "wm_harian" INTEGER,
    "sec" REAL,
    "sec_rekap" REAL,
    "created_at" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" DATETIME NOT NULL,
    CONSTRAINT "daily_report_raw_system_name_fkey" FOREIGN KEY ("system_name") REFERENCES "system" ("system_name") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "system_system_name_key" ON "system"("system_name");

-- CreateIndex
CREATE UNIQUE INDEX "system_api_key_key" ON "system"("api_key");

